h1{
    text-align: center;
      background-image:linear-gradient(green,lightgreen,white,gray) ;
}
body{
    background-image:linear-gradient(green,lightgreen,white,gray) ;
}
h2{
       background-image:linear-gradient(green,lightgreen,white,gray) ;
}
a{
    color: white;
    background-color:lawngreen ;
}
tr{
     background-image:linear-gradient(green,lightgreen,white,gray) ;
}
p{
    color: green;
     border: 2px solid black;
    border-radius: 20px;
    background-image:linear-gradient(green,lightgreen,white,gray) ;
     text-align: center;
     font-size: 30px;
}
 nav a{
      background-image:linear-gradient(green,lightgreen,white,gray) ;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
}
img{
      background-image:linear-gradient(gray,white,lightgreen,green) ;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;  
}
.logo{
    width:50px;
    height:50px;
}
nav{
    margin-top:50px;
    margin-bottom:50px;
    display: flex;
    justify-content: space-between;
}
.dym{
     width:250px;
    height:150px;
}
nav a:hover{
    color: green;
    text-shadow:5px 5px 5px yellow;
    border: yellow;
}
